/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2 * $base__space-unit;
}

div.site {
	max-width: 1080px;
	margin: 0 auto;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

body {
	margin: 3rem 1rem;
}

.content-area {
	margin-bottom: 4rem;
}

body.home, body.single-post {

	.entry-meta {
		display: flex
	}
}

.site-content {
	@media #{$desktop} {
		flex-basis: 80%;
		flex-grow: 2;
	}
}

.quotes-container {
	@media #{$desktop} {
	display: flex;
	}
}
.quotes {
	visibility: hidden;
	@media #{$desktop}{
		visibility: visible;
		font-size: 7rem;
		padding: 0 3rem;
		color: $color__link;
	}
} 
