/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3px;
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #fff;
	border: 2px solid $color__link;
	;
	border-radius: 3px;

	&:focus {
		color: #fff;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

button.hidden {
	visibility: hidden;
}

	div.form-element-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		label {
			margin-bottom: 1rem;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}


form.quote-form {
	display: flex;
	flex-direction: column;
	color: #fff;
	font-weight: 300;
	input, textarea{
		padding: 10px;
		background: transparent;
		color: $color__link;
	}
	textarea {
		height: 80px;
	}
	input {
		width: 60%;
	}
	input[type="submit"] {
		width: 40%;
	}
}